
.nav {
  display: flex;
  margin: .50em;

  &-toolbar {
    justify-content: space-between;
  }
}

.expense-item {

  border-bottom: 1px solid #dae1e9;
  padding: 10px 20px;
  color: #869bbb;

  > div:nth-child(1),
  > div:nth-child(2) {
    flex: 1;
  }

  > div:nth-child(3) {
    font-weight: bold;
  }

  &:last-child {
    border-bottom: none;
  }
}
