@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px 'Open Sans', sans-serif;
  background: #F4F7FA;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}
