@import "~styles/color";

$headerSize: 60px;
$subHeaderHeight: 50px;

:host {
  display: block;
}

header {
  background: $darkPrimaryColor;
  color: $textColor;

  .container {
    display: flex;
    height: $headerSize;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
  }
}

nav {
  background: #fff;
  color: $accentColor;
  border-bottom: 1px solid rgb(218, 225, 233);

  .container {
    height: $subHeaderHeight;
    display: flex;
    align-items: center;
  }

  a {
    margin-right: 5px;
    padding: 14px;

    &.current {
      color: $darkPrimaryColor;
      border-bottom: 1px solid $darkPrimaryColor;
    }
  }


}
