<header>
  <div class="container header">
    <h1>Briky</h1>
    <div>Bentornato, <b>{{user.name}}</b></div>
  </div>
</header>

<nav>
  <div class="container subheader">
    <a routerLink="dashboard" [routerLinkActive]="['current']">
      <span>Dashboard</span>
    </a>

    <a routerLink="expense/new" [routerLinkActive]="['current']">
      <span>Nuova Uscita</span>
    </a>

    <a routerLink="analytics" [routerLinkActive]="['current']">
      <span>Analisi</span>
    </a>

    <a routerLink="profile" [routerLinkActive]="['current']">
      <span>Profile</span>
    </a>
  </div>
</nav>
